body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.info.legend {
  background: white;
  border: 1px solid #777;
  padding: 6px;
  border-radius: 5px;
}

.legend-box {
  background: white;
  padding: 5px;
}

.legend-item {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
}